@{
    ViewBag.Title = "Home Page";
}
<style>
    .img-responsive {
  max-width: 50%; /* or to whatever you want here */
  /*max-height:  auto;*/ /* or to whatever you want here */
}

</style>
<div class="row">
    <br />
    <br />
    <br />
    <br />
    @*<h1 style="text-align:center;font-size:40px;color:black;font-family:'Arial Rounded MT'">Project Procurement System</h1>
        <br />*@

    <center>
        <img src="~/images/rdlp.png" class="img-responsive" />
    </center> 
</div>

